$font-size-base: 0.875rem;
$primary: #000;
$primary-text: #fff;
$dropdown-link-hover-bg: $primary;
$dropdown-link-hover-color: $primary-text;
$border-radius: 0;
$list-group-action-hover-color: $primary-text;
$list-group-hover-bg: $primary;